
@import "tailwindcss";

/* .deatails{ */
 p{
    font-size: 23px;
    font-style:normal;
    font-weight: bolder;
    margin-top: 10px;
    color: rgb(81, 174, 174);
    
    /* background-color: black; */
   width:fit-content;
     padding: 10px;
     strong{
     font-size: 23px;
    font-style:normal;
    font-weight: bolder;
    margin-top: 10px;
    color: rgb(81, 174, 174);
    /* color: rgb(222, 215, 215); */
    /* background-color: black; */
   width:fit-content;
     padding: 10px;
}
}
/* strong{
     font-size: 23px;
    font-style:normal;
    margin-top: 10px;
    /* color: rgb(81, 174, 174); 
    color: rgb(222, 215, 215);
    background-color: black;
   width:fit-content;
     padding: 10px;
} */

/* } */
ul{
    margin-left: 20px;
    /* color:rgb(172, 187, 201); */
    color: black;
    list-style-type: decimal;
     
}
li{
    margin-top: 10px;
    padding-left: 10px;
    font-size: 20px;
}
ol{
     margin-left: 20px;
      order: 1;
      list-style-type: decimal;
     
}

h6{
    color:rgb(190, 163, 126)
}
